.main {
  &-title{
    background-color: $color-web;
    text-align: center;
    &-h1{
      font-family: $font-h1;
      color: $color-white;
    }
    #yellow{
      color: $color-yellow;
    }
    &-button{
      margin: 50px;
      height: 50px;
      width: 250px;
    }
    &-hero{
      justify-content: center;
      display: flex;
      width: 100%;
    }
  }
  &-links{
    background-color: $color-bone;
    display: block;
    flex-wrap: wrap;
    &-icono {
      width: 25%;
      margin: 10px;
    }
  }
  &-info{
    .container{
      //display: block;
      //flex-wrap: wrap;
      //padding: 4vw;
      background-color: red;
      #1{
        background-color: red;
      }
      &-target{
        width: 100%;
        //background-color: red;
      }
    }
  }
}