.main {
  &-title {
    background-color: $color-web;
    text-align: center;
    &-h1 {
      font-family: $font-h1;
      color: $color-white;
    }
    #yellow {
      color: $color-yellow;
    }
    &-button {
      margin: 50px;
      height: 50px;
      width: 250px;
    }
    &-hero {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  &-links {
    background-color: $color-bone;
    display: block;
    flex-wrap: wrap;
    &-icono {
      width: 25%;
      margin: 10px;
    }
  }
  &-team {
    background-color: $color-bone;
    display: block;
    justify-content: center;
    &-target {
      width: 100%;
    }
  }
  &-video {
    display:inline-block;
    &-source{
      width: 100%;
    }
  }
}
