.main {
  padding-top: 75px;
  &-title {
    background-color: $color-web;
    text-align: center;  
    &-h1 {
      font-family: $font-h1;
      color: $color-white;
    }
    #yellow {
      color: $color-yellow;
    }
    &-p{
      color: $color-white;
      text-align: center;
      margin: 30px;
    }
    &-button1{
      @include button($color-white);
    }
    &-button2{
      @include button($color-blue);
    }
    
    &-hero {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 30px;
    }
  }
  &-links {
    background-color: $color-bone;
    display: block;
    flex-wrap: wrap;
    &-h2{
      text-align: center;
      
    }
    &-icono {
      width: 25%;
      margin: 10px;
    }
  }
  &-team {
    background-color: $color-bone;
    display: block;
    justify-content: center;
    &-target {
      width: 100%;
    }
  }
  &-video {
    display: block;
    background-color: $color-white;
    &-source{
      width: 90%;
      height: 200px;
      border-radius: 0px 150px 150px 0px;
    }
  }
}
