// ** Variables ** //

//Colores
$color-black: #000000;
$color-white: #ffffff;
$color-web: #400d40;
$color-yellow: #ecb22e;
$color-bone: #F5EDE5;
$color-blue: #40a5e9;

//Fuentes
$font-h1:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;