// ** Variables ** //

//Colores
$color-black: #000000;
$color-white: #ffffff;
$color-web: #400d40;
$color-yellow: #ecb22e;
$color-bone: #f8e5d3;

//Fuentes
$font-h1:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;